#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  /*first value for top/bottom, second valuefor left/right*/
}
.body{  background-color: #F8F7F7;}
.header {
  padding: 1.5em;

}

nav a {
  text-decoration: overline;
  color: Black;
}

nav li {
  display: inline;
  padding: 0 0.5em;
  font-size: 1.2em;
}

nav ul {
  text-align: right;
  position: relative;
  margin-left: 30em;
}

nav a:hover {
  color: #59357E;
}

button {
  background-color: transparent;
  border: none;
}

.logo {
  width: 100px;
  display: inline-flex;
}

img.logo {
  float: left;
  margin-left: 0px 0px 0px 30px;
  width: 60px;
  height: auto;
}

/* width:200px;  you can use %
 height: auto;*/
h3 {
  font-size: 2.5em;
  padding: 0.3em;
  text-align: center;
  color: #AF6246;
  font-weight: bold;
}

h2 {
  font-size: 2.5em;
  padding-top: 2em;
  color: #AF6246;
  font-weight: bold;
  text-align: left;
}

p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  font-size: 1.2em;
  word-break: break-word;
}

button.appnt {
  background-color: #AF6246;
  border: none;
  color: white;
  border-radius: 40px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
  box-shadow: 1px 2px 1px 1px #75412F;
}

button.appnt:hover {
  background-color: #75412F;
  color: white;
}

button.services {
  background-color: #AF6246;
  border: none;
  color: white;
  border-radius: 40px;
  padding: 15px 32px ;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
  box-shadow: 1px 2px 1px 1px #75412F;
  margin-top: 5em;
}

button.services:hover {
  background-color: #75412F;
  color: white;
}




}
